.navbar{
  display: flex;
  justify-content: space-around;
  box-shadow: 0 1px 3px -2px black;
  padding: 5px 0;
  
}
.nav-logo{
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-logo p{
  font-size: 28px;
  color: #373737;
  font-weight: 600;
}
.nav-menu{
  display: flex;
  align-items: center;
  gap: 55px;
  list-style: none;
  color: #575757;
  font-size: 20px;
  font-weight: 500;

}
.nav-menu li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}
.nav-menu hr{
  border: none;
  width: 90%;
  height: 3px;
  border-radius: 10px;
  margin: 2px;
  background-color: rgb(241, 55, 96);
}
.nav-login-cart{
  display: flex;
  align-items: center;
  gap: 32px;
}
.nav-login-cart img{
  height: 30px;
}
.nav-login-cart button{
  height: 33px;
  width: 100px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #515151;
  cursor: pointer;
  background-color: white;
  font-size: 18px;
  font-weight: 500;
}
.nav-login-cart button:active{
  background-color: rgb(164, 233, 236);
}
.cart-item-count{
  height: 17px;
  width: 17px;
  background-color: rgb(237, 72, 72);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -45px;
  margin-top:-27px;
  outline: none;
  border: none;
  font-size: 12px;
  color: white;


}